body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(max-width:1000px){
    body .nav-bar-container{
        display: none;
    }
}
@media(min-width:1000px){
    body .mobile-nav-bar-container{
        display: none;
    }
}

.nav-bar-container{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 97%;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px 25px 5px 25px;

}
.nav-bar-container div img{
    height: 50px;
    width: auto;
}
.nav-bar-container div a{
    color: white;
    text-decoration: none;
    transition: .25s;
}
.nav-bar-container div a:hover{
    color: #00a7e1;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    position: relative;
    margin-right: 15px;
}
.mobile-nav-bar-container{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 91.5%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 5px 25px 5px 25px;
    align-items: center;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.38);
}
.mobile-nav-bar-container div img{
    width: 40px;
    height: auto;
}

.services-dropdown{
    display: none;
    position: absolute;
    top: 18px;
    left:0px;
}
.services:hover .services-dropdown{
    display: block;
}
.nav-links li ol{
    width: 200px;
    list-style: none;
    background-color: black;
    padding: 40px 10px 0px 10px;
}
.nav-links li ol li{
    margin-bottom: 10px;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    transition: .25s;
}
.nav-links li a:hover{
    color: #00a7e1;
    
}
@media(max-width:800px){
    body .hero-container video{
        display: none;
    }
    body .hero-container .hero-text{
        display: none;
    }
    body .mobile-hero{
        display: flex;

    }
    body .mobile-hero h1{
        color: black;
    }
    body .hero-text h1{
        color: black;
    }
    body .hero-text button{
        border: solid 1px black;
    }
}
@media(max-width:575px){
    body .mobile-hero h1{
        font-size: 60px;
    }
    body .mobile-hero button{
        width: 200px;
        font-size: 25px;
    }
}



.hero-container{
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container div{
    text-align: center;
}   
.hero-text{
    position: absolute;
    width: 100%;
}
.hero-text h1{
    color: white;
    font-size: 75px;
}
.mobile-hero{
    height: 500px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
}
.mobile-hero h1{
    color: black;
    font-size: 75px;
}
.mobile-hero button{
    background-color: rgba(255, 0, 0, 0);
    color: black;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

}
.hero-text button{
    border: solid 1px white;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
}
@media(max-width:1075px){
    body .image-buttons a{
        height: 250px;
    }
}
@media(max-width:800px){
    body .image-buttons a{
        height: 150px;
    }
}
@media(max-width:475px){
    body .image-buttons{
        grid-template-columns: 50% 50%
    }
}
.image-buttons{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    height: auto;
    width: auto;
}
.image-buttons a{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 350px;
    width: auto;
    text-decoration: none;
    
}
.image-buttons a div{
    background-color: black;
    padding: 10px;
    display: none;
    transition: .5s;
}
.image-buttons a:hover div{
    display: block;
}
.image-buttons a div p{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
@media(max-width:750px){
    body .digital-marketing-text div h1{
        font-size: 30px;
    }
}
@media(max-width:575px){
    body .digital-marketing-text div h1{
        font-size: 25px;
    }
}
.digital-marketing-text{
    padding-top: 50px;
    padding-bottom: 50px;
}
.digital-marketing-text div{
    width: 80%;
    margin-left: auto;
    margin-right: auto
}
.digital-marketing-text div p{
    color: #1185bd;
    font-weight: bold;
}
.digital-marketing-text div h1{
    color: #919191;
}
.digital-marketing-text div button{
    border: solid 1px black;
    background-color: rgba(255, 0, 0, 0);
    color: black;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
}
@media(max-width:960px){
    body .transition-image-buttons a{
        padding: 0px 5px 15px 5px;
        
    }
}
@media(max-width:740px){
    body .transition-image-buttons{
        grid-template-columns: 100%;
    }
    body .transition-image-buttons a{
        padding-left: 25px;
        padding-right: 25px;
    }
    body .transition-image-buttons a{
        height: fit-content;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.transition-image-buttons{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.transition-image-buttons a{
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: solid 1px white;
    font-weight: 450;
    height: 400px;
    padding: 0px 15px 15px 50px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.tran-button{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
@media(max-width:1250px){
    body .slide-in-message div img{
        height: 250px;
        width: auto;
    }

}
@media(max-width:940px){
    body .slide-in-message div h1{
        font-size: 35px;
    }
    body .slide-in-message div img{
        height: 200px;
        width: auto;
    }
}
@media(max-width:780px){
    .slide-in-message{
        flex-direction: column;
        justify-content: center;
    }
    body .slide-in-message div{
        width: 80%;
        margin-top: 25px;
    }
    body .slide-in-message div img{
        height: 300px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    body .middle{
        flex-direction: column-reverse;
    }
}

@media(max-width:545px){
    body .slide-in-message div img{
        height: 250px;
    }
}
@media(max-width:475px){
    body .slide-in-message div h1{
        font-size: 35px;
    }
    body .slide-in-message div img{
        height: 200px;
        width: auto;
    }
}


.slide-in-message{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}
.slide-in-message div{
    width: 40%;
}
.slide-in-message div img{
    height: 350px;
    width: auto;
}
.slide-in-message div h1{
    font-size: 45px;
}
.slide-in-message div p{
    font-size: 20px;
    font-weight: 300;
}
.slide-in-message div button{
    border: solid 1px black;
    background-color: rgba(255, 0, 0, 0);
    color: black;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
}
@media(max-width:845px){
    body .big-blue{
        flex-direction: column;
    }
    body .big-blue div{
        width: 95%;
    }
    body .big-blue div ol{
        padding-left: 20px;
    }
    
}
@media(max-width:650px){
    body .big-blue div h1{
        font-size: 55px;
    }
    body .big-blue div p{
        font-size: 20px;
}
    body .big-blue div ol li{
        font-size: 25px;
    }
}
.big-blue{
    display: flex;
    justify-content: center;
    background-image: url("images/Screenshot (303).png");
    align-items: center;
    background-size: cover;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    transition: .5s;
}
.big-blue:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/Screenshot (303).png");
}

.big-blue div{
    width: 45%;
}
.big-blue div h1{
    font-size: 70px;
}
.big-blue div p{
    font-size: 22px;
    margin-bottom: 50px;
    font-weight: 300;
}
.big-blue div button{
    border: solid 1px white;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
}
.big-blue div ol{
    padding-top: 40px;
}
.big-blue div ol li{
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 45px;
    font-weight: 300;
}
@media(max-width:750px){
    body .our-mission h1{
        font-size: 30px;
    }
}
.our-mission{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.our-mission h1{
    color: #919191;
}
.our-mission button{
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
}
@media(max-width:845px){
    body .image-slider div{
        padding-top: 75px;
    }
    body .image-slider div img{
        height: 35px;
        width: auto;
    }
    body .image-slider div .quote-text{
        width: 70%;
    }
}
.image-slider{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color: black;
}
.quote-text{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    font-weight: 300;
}

.quote-author{
    font-weight: bold;
}
.image-slider div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.image-slider div p{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.image-slider div button{
    margin-right: 10px;
    height: 15px;
    width: 15px;
    border-radius: 75px;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0);
}
@media(max-width:735px){
    body .creatives .creatives-text{
        width: 80%;
    }
    body .creatives h1{
        font-size: 55px;
    }
}
.creatives{
    text-align: center;
    padding: 70px 0px 70px 0px;
}
.creatives .blue-text{
    color: #00a7e1;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.creatives h1{
    font-size: 70px;
    font-weight: 450;
    margin: 0px;
}
.creatives p{
    width: 65%;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}
.creative-button{
    padding-bottom: 25px;
}
.creative-button button{
    border: solid 1px black;
    background-color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
@media(max-width:700px){
     body .employee-image img{
        width: 90%;
    }
}
.employee-image{
    text-align: center;
    padding-bottom: 50px;
}
.employee-image img{
    width: 70%;
    height: auto;
}
@media(max-width:800px){
    body .footer-img{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 0px;
    }
    body .footer-links-con{
        flex-direction: column;
    }
    body .footer-links{
        display: block;
        text-align: center;
        width: 100%;
    }
    body .footer-links div ol{
        padding-left: 0px;
    }
    body .footer-form{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    body .footer-form h1{
        text-align: center;
    }
    body .footer-form ol{
        text-align: center;
    }
}
footer{
    background-color: #011b28;
    padding: 15px 0px 15px 0px;
}
.footer-img{
    padding-left: 40px;
}
.footer-img img{
    width: 200px;
    height: auto;
}
.footer-links-con{
    display: flex;
}
.footer-links{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 60%;
    color: white;

}
.footer-links div li a{
    transition: .25s;
}

.footer-links div li a:hover{
    color: white;
}

.footer-form{
    width: 40%;
}
.footer-form button{
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    border: solid 1px white;
    background-color: #011b28;
    border-radius: 0px;
    color: white;
}
.footer-form ol{
    list-style: none;
    padding-left: 0px;
}
.footer-form h1{
    color: white;
}
.footer-form ol li a{
    color: #6d7173;
    text-decoration: none;
}

.form div{
    display: grid;
    grid-template-columns: 50% 50%;
}

.form div input{
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    border: solid 1px white;
    background-color: #011b28;
    border-radius: 0px;
    font-size: 20px;
    padding: 5px;
}
.footer-links ol{
    list-style: none;
}
.footer-links ol li{
    margin-bottom: 7.5px;
}
.footer-links ol li a {
    color: #6d7173;
    text-decoration: none;
}
@media(max-width:750px){
    body .copyright{
        flex-direction: column-reverse;
    }
}
.copyright{
    background-color: #011b28;
    color: #6d7173;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}

.copyright div img{
    height: 30px;
    width: auto;
}